:root {
    --theme-color: #19bad0;
    --theme-text: #ffffff;
    --theme-text2: #fffff0;
    --theme-black: #000000;
}
.dark-mode {
    background-color: var(--theme-black);
    color: var(--theme-text);
}
.theme-mode {
    width: 75px;
    background: var(--theme-color);
    height: 50px;
    position: fixed;
    bottom: 50px;
    z-index: 10000;
    box-shadow: 0px 0px 21px var(--theme-color);
    border-radius: 0px 50px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.resumecontainer{
    justify-content: center;
    margin-left: 5%;
}
#moon{
    display: none;
}

.theme-mode i {
    font-size: 30px;
    color: white;
}

.text-bold {
    font-weight: bold;
}
.color-theme {
    color: var(--theme-color);
}
.width-75 {
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .width-75 {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .name_container {
        text-align: center !important;
    }
    .name_container h1 {
        font-size: 40px !important;
    }
    .name_container p {
        font-size: 26px !important;
    }
}
@media only screen and (max-width: 420px) {
    .my_image {
        width: 300px !important;
        height: 300px !important;
    }
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.sections {
    padding-bottom: 40px;
}
section h2 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

section h2:before {
    content: '';
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    top: 60px;
    left: calc(50% - 60px);
}
section h2:after {
    content: '';
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--theme-color);
    top: 10px;
    left: calc(50% - 20px);
}
.sections .info {
    text-align: center;
}


.name_container {
    text-align: right;
    /* padding-right: 60px; */
}
.name_container h1 {
    font-size: 70px;
    font-weight: bolder;
    color: var(--theme-text);
}
.name_container p {
    font-size: 30px;
    color: var(--theme-text);
}
.name_container span {
    color: var(--theme-color);
    font-weight: bold;
}
.name_container a {
    color: var(--theme-text2);
    text-decoration: none;
}

.name_container a i{
    font-size: 40px;
    margin: 5px;
    transition-duration: 0.5s;
}
i {
    transition-duration: 0.5s;
}
i:hover {
    transform: scale(1.2);
}
.name_container a i:hover {
    color: var(--theme-color);
    transform: scale(1.2);
}

#skills img {
    box-shadow: 2px 0 16px var(--theme-color);
    transition: transform 500ms;
}

#skills img:hover {
    box-shadow: 5px 0 50px var(--theme-color);
    transform: scale(1.1);
    cursor: pointer;
}
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: 0 !important;
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.nav-link {
    color: var(--theme-black) !important;
    text-transform: uppercase;
}
.nav-link.active {
    color: var(--theme-color) !important;
    background-color: transparent !important;
    font-weight: bolder;
}

.timeline {
    border-left: 2px solid var(--theme-color);
    padding: 0 0 20px 20px;
    margin-top: 0px;
    position: relative;
}
.timeline h4 {
    line-height: 15px;
    color: var(--theme-color);
    font-weight: bold;
    font-family: "Roboto Light";
}
.timeline p {
    margin-bottom: 5px;
}
.timeline h5 {
    margin-bottom: 5px;
}
.timeline:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid var(--theme-color);
}
.submit {
    width: 150px;
    background-color: var(--theme-color);
    color: var(--theme-text);
    font-weight: bold;
    height: 40px;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 10px var(--theme-color);
}
.submit:hover {
    box-shadow: 0 0 50px var(--theme-color);
}




.wave {
    animation: wave 3s linear;
    animation-iteration-count:infinite;
    fill: var(--theme-color);
}


@keyframes wave {
    to {transform: translateX(-100%);}
}

#about li a {
    color: black;
    cursor: pointer;
}
#about li a:hover {
    cursor: pointer;
}
.scrollTop {
    padding: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: var(--theme-color);
    color: var(--theme-text);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
}
.tags-main{
  margin-bottom: 120px;
}

.tag {
    display: inline-block;
    border-radius: 3px;
    padding: 0.3em 1em;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: var(--text-primary);
    font-weight: 700;
    margin: 0.25em 0.2em;
  }
  h1.tag {
    margin-left: 0;
    margin-right: 0;
  }
  .tag-sm {
    font-size: 0.7em;
    display: inline-block;
    letter-spacing: 0.15ch;
    font-weight: 400;
  }
  .tag-lg {
    font-size: 1.5em;
    border-radius: 999999px;
  }
  .tag-bg {
    background: var(--background);
  }
  .tag-green,
  .tag-pro {
    background: var(--green);
    color: #fff;
  }
  .tag-purple {
    background: var(--purple);
    color: #fff;
  }
  .tag-contrast {
    background: var(--text-color);
    color: var(--background);
  }
  .tag-javascript {
    background: #f0db4f;
    color: #000;
  }
  .tag-typescript {
    background: #2775c3;
    color: #fff;
  }
  .tag-angular {
    background: #dc0530;
    color: #fff;
  }
  .tag-firebase {
    background: #ffcb2b;
    color: #12181a;
  }
  .tag-vue {
    background: #41b883;
    color: white;
  }
  .tag-rxjs {
    background: var(--pink);
    color: var(--gray5);
  }
  .tag-node {
    background: #90c53f;
    color: #46483d;
  }
  .tag-cloud-functions {
    background: var(--blue);
    color: #fff;
  }
  .tag-flutter {
    background: #54c5f8;
    color: #003b6c;
  }
  .tag-google-maps {
    background: #33a668;
    color: #f8d845;
  }
  .tag-spring{
    color: #2ed352;
  }
  .tag-android {
    background: #a4c34a;
    color: #fff;
  }
  .tag-stripe {
    color: #fff;
    background: #6675e0;
  }
  .tag-machine-learning {
    color: #fff;
    background: var(--purple-light);
  }
  .tag-python {
    color: #ffda5d;
    background: #3d8bc6;
  }
  .tag-svelte {
    color: #fff;
    background: #ff3e00;
  }

  .tag-aws{
    background-color: #232f3e;
    color: white;
  }
  .tag-jenkins{
    color: red;
  }
  .tag-java{
    color: #00d8ff;
    background: #312723;
  }
  .tag-react {
    color: #00d8ff;
    background: #222;
  }
  .tag-ios {
    color: #fff;
    background: #000;
  }
  .tag-minimum-viable-product,
  .tag-mvp {
    color: #fff;
    background-image: linear-gradient(198deg, #ff8901, #db1d5f);
    font-weight: 700;
  }
  .tag-ionic {
    background: #fff;
    color: #4a8afc;
  }
  .tag-nest {
    color: #2775c3;
    background: #000;
  }
  .tag-graphql {
    color: #fff;
    background: #e10097;
  }
  .tag-electron {
    color: #313244;
    background: #adecf3;
  }
  .tag > img {
    width: 25px;
    height: 25px;
    margin-top: -2px;
  }