.about{
    width: 60%;
    margin: 0 auto; /* Center align */
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.text-secondary{
    color: #2c2c2c !important;
}
.story-content {
    padding: 1.7rem 0;
}


.data{
    line-height: 1.8;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Circularstd book', sans-serif;

}

.button{
    text-align: center;
}

.button>button{
    background: var(--theme-color);
}