.about{
    width: 60%;
    margin: 0 auto; /* Center align */
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.text-secondary{
    color: #2c2c2c !important;
}
.story-content {
    padding: 1.7rem 0;
}


.data{
    line-height: 1.8;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Circularstd book', sans-serif;
}

.button{
    text-align: center;
}

.button>a{
    background: var(--theme-color);
    color: antiquewhite;
}

.button>a:hover{
    background: var(--theme-color);
    color: antiquewhite;
}
.story-content.data > span {
    display: block;
    padding-bottom: 20px; /* Adjust as needed */
  }

  @media (max-width: 600px) {
  .story-content.data>.notImp{
    display: none;
  }
  .about{
    width: 70%;
    font-family: 'Circularstd book', sans-serif;
  }

  .data{
    line-height: 1.8;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Circularstd book', sans-serif;
     /* background-color: aqua; */
}
}