.navbar{
    height: 11vh;
    width: 100%;
    font-size: 20px;
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:37%;
    /* position: fixed; */
}

.title{
    color:white
}

.title:hover{
   color: var(--theme-color);
}
.navItem{
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* top:50%; */
     /* margin-right: 3%; */
     
}
.navItem > li {
    padding: 1vh;
    color: #aaaaaa;
    letter-spacing: 0.06em;
    position: relative; /* Add this line */
}

ul {
    list-style-type: none;
    margin-left: 12px;
}
a{
    color: #aaaaaa;
}
.navItem>li>a{
        text-decoration: none;
}

.navItem>li>a:hover{
    color:#fff;
}

.navItem > li:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: -3px; /* Adjust this value based on your preference */
    left: 0;
    background: var(--theme-color);
    width: 0;
    transition: width 0.3s ease;
}

.navItem > li:hover:after {
    width: 100%;
}

.active{
    color: var(--theme-color);
}


.menu-toggle {
    display: none;
}


@media (max-width: 600px) {
    
    .header-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 10px;
      padding-bottom: 0 !important;
    }
  
    .navbar {
      height: 100%;
      width: 100%;
      font-size: 20px;
      background-color: black;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navItem {
      display: none;
      flex-direction: column;
    }
  
    .menu-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  
    .bar {
      width: 25px;
      height: 3px;
      background-color: #aaaaaa;
      margin: 3px 0;
      transition: transform 0.4s ease;
    }
  
    .cross1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .cross2 {
      opacity: 0;
    }
  
    .cross3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    .show .navItem {
      display: flex;
    }
  }